#main {
    background-color: transparent;
    color: #fff;
    padding-top: 0;
}

#menu {
    border: 0;
}

.editor {
    font-weight: normal;
}

.toc {
    margin: 25px 0 25px 0;
}

.toc input {
  display: block;
  font-size: 14px;
  height: 25px;
  width: 160px;
  padding: 3px 0;
  background-image: none;
  background-color: transparent;
  border: none;
  margin: 10px 0;
  text-align: left;
}

.toc input:hover {
  background-color: #799158;
  background-image: none;
  border: none;
}