/* some styles necessary for image select menus */
.ui-select-menu { float: left; margin: 0px; }

/* width of standard HTML select */
select { width: 150px;}

/* select with card images */
a.card { height: 163px; }
.card .ui-selectmenu-item-icon { height: 161px; width: 150px; }
.ui-selectmenu-menu li.card a, a.card span.ui-selectmenu-status { 
    height: 155px;
    margin: 1px;
}
.ui-selectmenu-menu li a, .ui-selectmenu-status { padding: 0.3em 2em; }
.card .ui-selectmenu-item-icon { background-position: 0 0; }

#main {
    display: none;
}

/* Skin */

body { 
    font-family:"Verdana",sans-serif;
    font-size: .8em;
    background-color: #222;
    color: white;
    padding: 20px;
    margin: 0;
}

h1, h2, p {
    line-height: 1.4em;
    margin: 0;
}

#all {
    background-color: #555;
    width: auto;    
    max-width: 1090px;
    margin: auto;
    padding: 25px;
    border-radius: 8px;
}

#id_bar {
    padding: 10px 0;    
}

#loading {
    padding: 100px 0;
}

#shuffle {
    float: right;
    padding: 0 10px 10px 0;
}

a, a:link, a:visited, a:active, a:hover {
    /*color: #ddf;*/
    color: #ff552b;
    text-decoration: none;
}

a:hover {
    /*color: #71abff;*/
    color: #ff552b;
}

input {
  border: 1px solid #666;
  color:#fff;
  background: #333;
  height: 20px;
  padding: 1px;
}

#link {
  border:none;
  background: transparent;
}

#link:hover {
/*    color: #71abff; */
/*    color: #ff552b; */
}

.card_row {
    padding: 1px 0;
    margin:0;
    white-space: nowrap;
}

#box_spacer      {
    width: 1080px;
    height: 580px;
}

#card_box {
  background: url(images/card_box_black_bg.png) no-repeat;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

#box_shadow {
    position: absolute;
    z-index:0; 
    box-shadow:  20px 20px 15px 0px rgba(0, 0, 0, 0.6);
    width: 1070px;
    height: 550px;
}


.row_separator {
  height: 25px;
  background: url(images/row_separator.jpg) -2px -3px no-repeat;
}

.button {
  padding: 3px 5px;
  border: 1px solid #666;
  border-radius: 3px;
  color:#fff;
  font-size: .8em;
  background: #333 url(images/button.png) repeat-x scroll 5px center;
  height: 24px;
}

.button:hover {
  background: #888 url(images/button_hover.png) repeat-x scroll 5px center;
  /*border: 1px solid #3E6CE0;*/
  border: 1px solid #C1472C;
}

[disabled],
.button:disabled, 
.button[disabled],
.button[disabled="disabled"],
[disabled]:hover,
.button:disabled:hover {
  border: 1px solid #666;
  background: #333 url(images/button_disabled.png) repeat-x scroll 5px center !important;
  color:#ccc !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("images/card_bg.png") repeat-x scroll 50% 50% #777;
    border: 1px solid #D3D3D3;
    color: #555555;
    font-weight: normal;
}

.ui-widget-content {
    border: 8px solid #33443a;
    border-image: url("images/box_border.png") 8 8 8 8 repeat;
    border-radius: 5px;
    box-shadow: 10px 10px 20px #333;
    /* For non-CSS3 FireFox */
    -moz-box-shadow: 10px 10px 20px #333;
    -moz-border-radius: 5px;    
}

/* select box style */
a.card { 
    background: #444;
    border: 0;
}

/* options style */

.ui-widget-content li {
    background: url("images/card_bg.png") repeat-x scroll #9a9a9a;
    padding: 5px 5px 10px 5px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: url("images/card_bg_highlight.png") repeat-x scroll #eee;
    border: 1px solid #888;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover {
    background: url("images/card_bg_highlight.png") repeat-x scroll #B78664; 
    border: 1px solid #AAAAAA; 
}


/* position of select arrows */
.ui-selectmenu-icon {
    right: 6px;
    top: 10%;
}

/* arrow icon */
.ui-state-hover .ui-icon {
    background-image: url("images/ui-icons_2e83ff_256x240.png");
}

/*  select control's padding/margin */
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0px;
}
