body, #all, #main, #header, #footer {
    color: #000;
    background-color: #fff;
} 

body, #all, #header, #main, #footer {
    margin: 0;
    padding: 0;
} 

body, #all {
    text-align: center;
    text-align: -moz-center;
}

#all {
    max-width: 73em;
    min-width: 73em;
    width: 73em;
    display: inline-table;
    display: inline-block;
    margin-top: 20px;
}

#main, #header, #footer, #loading {
    text-align: left;
}

#header {
    margin: 0 0 1em 0;
}

#footer {
    padding: 10px 0 0 0;
    border-top: 1px solid #000;
}

#box img {
    height: 10em;
    width: 10em;
}

#link {
  width: 50em;
  border: 0;
}

#link_div {
    margin: 1em 0 .5em 0;
}

a, a:link, a:visited, a:active, a:hover {
    color: #000;
}

.kb_logo img {
    width: 3.5em;
    height: 3.5em;
}

.row {
    white-space: nowrap;
}

.noprint {
    display: none;
}
    